  <div ng-controller="AdminCtrl" ng-init="initTemplate()">
    <!---Main Div--->

    <nav class="navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ADMIN</a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->


        <div ng-controller="HomeCtrl" ng-init = "getContractRequest()" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <div class='navbar-form navbar-left' style="margin-left: 450px;" ng-controller="SearchCtrl">
            <input size="40" type="text" typeahead-template-url='templates/searchTemplate.html' ng-model="searchQuery" typeahead-min-length = "2" placeholder="Search" typeahead="datum as (datum.firstname+datum.lastname+datum.name+datum.city+datum.email+datum.description) for datum in getData($viewValue)" typeahead-loading="loadingData" class="form-control">
            <i ng-show="loadingData" class="glyphicon glyphicon-refresh"></i>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">{{username}}</a></li>

            <li class="dropdown" ng-if="role === 'ADMIN'">
            	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            		<span class="glyphicon glyphicon-bell"></span>
            	</a>
            	<ul class="dropdown-menu" role="menu">
            		<li class="cursor" ng-repeat = "request in contractRequests" >
            			<a href="#" ng-click="showContractRequest(request)">{{request.client_name}}</a>
            		</li>
            	</ul>
            </li>
            <li class="dropdown">

              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <span class="caret"></span>

                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              </a>

              <ul class="dropdown-menu" role="menu">
                <li class="cursor"><a href="#" ng-click="profile()">Profile</a></li>
                <li class="divider"></li>
                <li class="cursor"><a ng-click="signout()">SignOut</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="cursor sidebar-brand">
            <a ng-click="changeTableData('templates/admin/aHome.html')">Home</a>
          </li>
          <li class="cursor sidebar-brand">
            <a ng-click="changeTableData('templates/admin/allClients.html')">Clients</a>
          </li>
          <li class="cursor sidebar-brand">
            <a ng-click="changeTableData('templates/admin/allBuildings.html')">Buildings</a>
          </li>
          <li class="cursor sidebar-brand">
            <a ng-click="changeTableData('templates/admin/allGuards.html')">Guards</a>
          </li>
          <li class="cursor sidebar-brand">
            <a ng-click="changeTableData('templates/admin/allAlerts.html')">Alerts</a>
          </li>
          <li class="cursor sidebar-brand">
            <a ng-click="changeTableData('templates/admin/allContracts.html')">Contracts</a>
          </li>
          <li class="cursor sidebar-brand">
            <a ng-click="changeTableData('templates/admin/AllReports.html')">Reports</a>
          </li>
        </ul>
      </div>
      <button href="#menu-toggle" class="btn btn-primary" style="font-size: large; position: relative;  left: -8px; z-index: 1000; top: 5px;" id="menu-toggle"><i class="glyphicon glyphicon-transfer"></i></button>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div ng-include="templateurl">
          </div>
        </div>
        <!-- /#page-content-wrapper -->

      </div>
      <!-- /#wrapper -->

    </div>
