<!-- header row -->
		<div layout="row">
			<!-- top bar column -->
			<div layout="column" layout-fill>
				<md-toolbar class="md-medium-tall md-primary md-hue-7"><br />
					<div class="md-toolbar-tools md-toolbar-tools-bottom">
						<div flex="20"></div>
						<div flex="20">
							<h3>LinkedIn Labs</h3>
						</div>
						<div flex="20" layout="row">
							<md-input-container>
						      <input ng-model="search" type="text">
						    </md-input-container>
						    <md-button class="md-accent" href="#/search/{{search}}" ng-show="search != '' && search != null">Search</md-button>
						</div>
						<div flex="30"></div>
					</div>
				</md-toolbar>
			</div>
		</div>

<!-- menu row -->
		<div layout="row">
			<!-- top bar column -->
			<div layout="column" layout-fill>
				<md-toolbar md-scroll-shrink>
					<div class="md-toolbar-tools md-toolbar-tools-bottom background-black">
						<div flex="20"></div>
						<div flex="60" layout="row">
							<md-button class="md-primary" ng-href="#/home">Home</md-button>
							<md-button class="md-primary" ng-href="#/connections">Connections</md-button>			
						</div>
						<div flex="20"></div>
					</div>
				</md-toolbar>
			</div>
		</div>

		
<!-- profile card-->
		<div layout="row" ng-controller="ProfileController" >
				<div flex="20"></div>
				<div flex="60">
					<md-whiteframe class="md-whiteframe-z1" layout layout-align="left center">
						<div layout="column">
							<img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" height="175px" />
						</div>
					    <div layout = "column">
					    	<div layout = "row">
					    		<h1>{{userdetails.Firstname + ' '+ userdetails.Lastname}}</h1>
					    	</div>
					    	<div layout = "row">
					    		<h4>Status</h4>
					    	</div>
					    	<div layout = "row">
					    		<h4>Location</h4>
					    	</div>
					    </div>
					    <!-- fill up the space between left and right area -->
					    <span flex></span>
					    <div layout = "column" layout-align = "end end">
					    	<div layout = "row" layout-padding>
				    			<h5>Last Login: {{userdetails.lastlogin}}</h5>
				    		</div>
					    </div>
					  </md-whiteframe>
				</div>
				<div flex="20"></div>
		</div>
		
<!-- connections card-->
		<br />
		<div layout="row" ng-controller="SearchResultController">
				<div flex="20"></div>
				<div flex="60">
					<md-whiteframe class="md-whiteframe-z1" layout="column" layout-align="left center">
						<md-toolbar class="md-accent" layout="row">
						    <div class="md-toolbar-tools">
						      <span class="md-flex">Results</span>
						    </div>
						    <span flex></span>
						 </md-toolbar>
						 <div layout="column" layout-margin>
						 	<span ng-hide="searchResultArray.length" style="color:#a5a5a5;font-size:18px">No results found!</span>
						 	<md-list>
						      <md-item ng-repeat="searchResult in searchResultArray">
						        <md-item-content>
						        	<div class="md-tile-left">
						              <img ng-src="{{searchResult.profilepic}}" alt="{{searchResult.Firstname}}" class="face">
						            </div>
						          <div class="md-tile-content">
						          	<div layout="column">
						          		<h2><a href="#/user/{{searchResult.Id}}">{{searchResult.Firstname}} {{searchResult.Lastname}}</a></h2>
							            <h3>{{searchResult.Email}}</h3>
							            <h3>Last Active: {{searchResult.lastlogin}}</h3>
						          	</div>
						          </div>
						        </md-item-content>
						        <md-divider ng-if="!$last"></md-divider>
						      </md-item>
						    </md-list>
						 </div>
					  </md-whiteframe>
				</div>
				<div flex="20">
				</div>
		</div>