<div ng-init="getProfileData()">
	<div class="modal-header">
		<h3 class="modal-title">Profile</h3>
	</div>

	<div class="modal-body">
		<form name="editProfile" >
			<div class="row">
				<div class="span4">
					<strong>Name : </strong>{{profileData.name}}
				</div>
				<div class="span4">
					<strong>Email : </strong>{{profileData.email}}
				</div>
			</div>
			<div class="row" style="margin-top: 1%;">
				<div class="span6" ng-class="{ 'has-error' : editProfile.address.$invalid && !editProfile.address.$pristine }">
					<strong>Address : </strong><input type="text" class="form-control"
						name="address" ng-model="profileData.address"
						placeholder="Address" required>
				</div>
			</div>
			<div class="row" style="margin-top: 1%;">
				<div class="span2" ng-class="{ 'has-error' : editProfile.city.$invalid && !editProfile.city.$pristine }">
					<strong>City : </strong><input type="text" class="form-control"
					pattern="[A-Za-z ]*" name="city" ng-model="profileData.city" placeholder="City"
						required>
				</div>
				<div class="span2" ng-class="{ 'has-error' : editProfile.state.$invalid && !editProfile.state.$pristine }">
					<strong>State : </strong><input type="text" class="form-control"
						pattern="[A-Za-z ]*" name="state" ng-model="profileData.state" placeholder="State"
						required>
				</div>
				<div class="span2" ng-class="{ 'has-error' : editProfile.zip_code.$invalid && !editProfile.zip_code.$pristine }">
					<strong>Zip Code : </strong><input type="text" class="form-control"
						pattern="[0-9][0-9][0-9][0-9][0-9]" name="zip_code" ng-model="profileData.zip_code"
						maxlength="5" placeholder="Zip Code" required>
				</div>
			</div>
			<div class="row" style="margin-top: 1%;" ng-class="{ 'has-error' : editProfile.contact_no.$invalid && !editProfile.contact_no.$pristine }">
				<div class="span6">
					<strong>Contact Number : </strong><input type="text"
						pattern="[0-9]*" ng-minlength="10" class="form-control" name="contact_no"
						maxlength="10" ng-model="profileData.contact_no" placeholder="Contact Number"
						required>
				</div>
			</div>
		</form>
	</div>

	<div class="modal-footer">
		<!-- <div class="pull-left text-danger">{{formError}}</div> -->
		<button class="btn btn-primary" ng-disabled="editProfile.$invalid"  ng-click="ok()">Save</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</div>